.cd-panel-header {
    display: none;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../../../ablis-working-20161123/ablis-working-20161117/ablis - Copy/assets/css/opensans-light-webfont.eot');
    src: url('../../../ablis-working-20161123/ablis-working-20161117/ablis - Copy/assets/css/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../../../ablis-working-20161123/ablis-working-20161117/ablis - Copy/assets/css/opensans-light-webfont.woff2') format('woff2'), url('../../../ablis-working-20161123/ablis-working-20161117/ablis - Copy/assets/css/opensans-light-webfont.woff') format('woff'), url('../../../ablis-working-20161123/ablis-working-20161117/ablis - Copy/assets/css/opensans-light-webfont.ttf') format('truetype'), url('../../../ablis-working-20161123/ablis-working-20161117/ablis - Copy/assets/css/opensans-light-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.help {
    font-family: open_sanslight, helvetica, arial, sans-serif;
}

.showhide h3 a {
    color: black;
}

.showhide h3::before {
    content: "+ ";
}

.showhide h3::after {
    content: " (content not shown)";
    font-size: 80%;
}

.showhide h3.open::before {
    content: "- ";
}

.showhide h3.open::after {
    content: "";
}

.showhide img.ico-external {
    display: none;
}
