/*
Styling for SOBRS Style guide
==================================================== */

header .sub-brand {
  margin-top: 40px;
}

h3 {
    margin-top: 2em;
}
.notdone {
    background-color: #b41919;
    color: white;
    padding: 0.25em 0.5em;
    display: inline;
    font-weight: bold;
}

.swatch {
    list-style-type: none;
    margin: 1%;
    width: 23%;
    float: left;
    border-radius: 3px;
    padding: 48px 0;
    text-align: center;
}

.example-grid {
    height: 60px;
    background: #e4e5e5;
}

/* Table of contents */
.toc {
	background-color: #3179b5;
	padding: 0.25em 1em 1em 1em;
}
.toc h1 {
	color: white;
}
.toc li,
.toc li a,
.toc li a:link,
.toc li a:visited {
	color: white;
	padding: 0.15em 0.25em;
	text-decoration: none;
}
.toc li a:hover,
.toc li a:focus,
.toc li a:active {
	background-color: white;
	color: black;
}
.toc h1 span {
	display: block;
	line-height: 1;
}
.toc h1 span a {
	color: white;
	font-size: 70%;
}
.description {
	border-bottom: 1px solid #efebe7;
	padding: 0.25em 1em 1em 1em;
	margin-bottom: 2em;
}
.description p {
	font-size: 130%;
}
.highlight {
  	background: #e8f0f8 url(../../guide/assets/img/ico-light.png) no-repeat 1em 1.2em;
	border: 1px dashed #cfdeeb;
	padding: 0.25em 1em 0.5em 3em;
}