<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../../../business-registration/templates/assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">There was a problem</a></h2>
            <p>Please select one of the following options:</p>
            <ul id="validation-list">
                <li><a href="#structure-sole" class="scroll">Sole trader</a></li>
                <li><a href="#structure-partnership" class="scroll">Partnership</a></li>
                <li><a href="#structure-company" class="scroll">Company</a></li>
                <li><a href="#structure-trust" class="scroll">Trust</a></li>
                <li><a href="#structure-not-sure" class="scroll">I'm not sure - help me decide</a></li>
            </ul>
        </div>
    </div>
</div>

<fieldset>
    <legend class="larger">What business structure do you plan to use?</legend>

    <div class="grid-row grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="structure-not-sure" name="structure" type="radio">
                <label for="structure-not-sure">
					<strong>I'm not sure</strong><br />
					Help me decide.
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
        </div>
    </div><!-- grid-row -->

    <div class="grid-row grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="structure-sole" name="structure" type="radio">
                <label for="structure-sole">
                    <strong>Sole trader</strong><br />
                        You own the business on your own, but you can employ staff. You're responsible for all decisions and losses in your business, and you report the business income in your personal tax return. 
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
            <a class="cd-btn help" href="#"><span>help</span></a>
        </div>
    </div><!-- grid-row -->

    <div class="grid-row grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="structure-partnership" name="structure" type="radio">
                <label for="structure-partnership">
					<strong>Partnership</strong><br />
					You and your partners own the business together, and share responsibility for decisions and losses in the business. You each report your share of the business income in your personal tax returns. Partnerships can employ staff.
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
            <a class="cd-btn help" href="#"><span>help</span></a>
        </div>
    </div><!-- grid-row -->

    <div class="grid-row grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="structure-company" name="structure" type="radio">
                <label for="structure-company">
                    <strong>Company</strong><br />
					A company is a separate legal entity from you, and has at least one shareholder and one director (who runs the business). Income and losses belong to the company. Companies can employ staff.
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
            <a class="cd-btn help" href="#"><span>help</span></a>
        </div>
    </div><!-- grid-row -->

    <div class="grid-row grid-row-block grid-row-last clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="structure-trust" name="structure" type="radio">
                <label for="structure-trust">
					<strong>Trust</strong><br />
					Your business is held and controlled for the benefit of others (the beneficiaries). A trustee is responsible for everything in the trust, including income and losses. Trusts can employ staff.
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
            <a href="#help" class="cd-btn help"><span>help</span></a>
        </div>
    </div><!-- grid-row -->

	<div id="div-bus-tip" class="registration-tip clearfix" style="display: none">
		<p>Based on your answer, you should apply for:</p>
		<ul>
            <li id="item-company" style="display: none"><strong>Company registration</strong> <a class="cd-btn help" href="#"><span>help</span></a></li>
            <li id="item-tfn" style="display: none"><strong>Business Tax File Number (TFN)</strong> <a class="cd-btn help" href="#"><span>help</span></a></li>
			<li><strong>Australian Business Number (ABN)</strong> <a class="cd-btn help" href="#"><span>help</span></a></li>
		</ul>
		<p id="tip-soletrader" style="display: none;">Sole traders use their <strong>individual Tax File Number (TFN)</strong> for both their personal and business dealings with the Australian Taxation Office (ATO). If you don't have one, you should also <a href="https://www.ato.gov.au/individuals/tax-file-number/apply-for-a-tfn/australian-residents---tfn-application/" class="external-link" target="_blank">apply for an individual TFN</a>.</p>
		<p id="tip-company" style="display: none;">The cost of registering a company depends on the type of company. The most common company structure, a proprietary limited company, costs $463 to register.</p> 
	</div>
	
</fieldset>