<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../../../business-registration/templates/assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">There was a problem</a></h2>
            <p>Please select one of the below options.</p>
        </div>
    </div>
</div>

<fieldset>
    <legend class="larger col11 has-help">Do you need to register a business name?</legend>

    <div class="grid-row grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="name1" name="name" type="radio">
                <label for="name1">
                    <span class="push-right">
                        <strong>Yes</strong><br />
                        You need to register a business name if it's different to your company name (the legal name you give your company when you register it).<br><br>
                        For example, if your company name is Dairy Exports Pty Ltd and you want to carry on a business under the name Fresh Dairy Products, you need to register Fresh Dairy Products as a business name.
                    </span>
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
			<a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </div><!-- grid-row -->
    <div class="grid-row grid-row-last grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="name2" name="name" type="radio">
                <label for="name2">
                    <span class="push-right">
                        <strong>No</strong><br />
                        You don't need to register a business name if it's the same as your company name (the legal name you give your company when you register it).<br><br>
                        For example, if your company name is Dairy Exports Pty Ltd and you want to carry on a business under this name, you don't need to register it as a business name.
                    </span>
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
			<a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </div><!-- grid-row -->
</fieldset>

<div id="div-name-tip" class="registration-tip" style="display: none">
	<p>Registering a business name costs $34 for 1 year, and $79 for 3 years.</p>
	<p>Registering a business name doesn't stop other businesses from using it for their products or services! Find out how you can <a href="http://asic.gov.au/for-business/registering-a-business-name/before-you-start/how-to-protect-your-business-name/" class="external-link" target="_blank">protect your business name</a></p>
</div>