<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../../../business-registration/templates/assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">Important</a></h2>
            <p>Please select one of the below options.</p>
        </div>
    </div>
</div>

<div class="grid-row grid-row-block clearfix custom-controls">
    <fieldset id="companyHasEmployee" class="no-margin">
        <legend class="col6">Will your company have employees, or directors who will get a wage or director’s fees for their work?</legend>
        <div class="col5">
            <div class="radio-toggle">
                <label class="on label-left" for="companyEmployeeYes"><input id="companyEmployeeYes" type="radio" name="companyEmployee"><span>Yes</span></label>
                <label class="off label-right" for="companyEmployeeNo"><input id="companyEmployeeNo" type="radio" name="companyEmployee"><span>No</span></label>
            </div>
        </div>
        <div class="col1 last">
            <a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-block clearfix custom-controls">
    <fieldset id="companyHasEmployee" class="no-margin">
        <legend class="col6">Will you give fringe benefits to employees or directors to reward them for their work, such as a work car for private use?</legend>
        <div class="col5">
            <div class="radio-toggle">
                <label class="on label-left" for="fringeBenefitsEmployeeYes"><input id="fringeBenefitsEmployeeYes" type="radio" name="fringeBenefitsEmployee"><span>Yes</span></label>
                <label class="off label-right" for="fringeBenefitsEmployeeNo"><input id="fringeBenefitsEmployeeNo" type="radio" name="fringeBenefitsEmployee"><span>No</span></label>
            </div>
        </div>
        <div class="col1 last">
            <a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div id="div-employees-tip" class="registration-tip" style="display: none">
	<p>Based on your answers, you should register for:</p>
	<ul>
		<li id="tip-payg">Pay As You Go (PAYG) Withholding <a href="#" class="cd-btn help"><span>help</span></a></li>
		<li id="tip-fbt">Fringe Benefits Tax (FBT) <a href="#" class="cd-btn help"><span>help</span></a></li>
	</ul>
</div>