<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../../../business-registration/templates/assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">Important</a></h2>
            <p>Please select one of the below options.</p>
        </div>
    </div>
</div>

<div class="grid-row grid-row-block clearfix custom-controls">
    <fieldset class="no-margin">
        <legend class="col6">Do you plan to have employees? (don't include independent contractors)</legend>
        <div class="col5">
            <div class="radio-toggle">
                <label class="on label-left" for="employeeYes"><input id="employeeYes" type="radio" name="employee"><span>Yes</span></label>
                <label class="off label-right" for="employeeNo"><input id="employeeNo" type="radio" name="employee"><span>No</span></label>
            </div>
        </div>
        <div class="col1 last">
            <a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-block clearfix custom-controls" id="fringeBenefit" style="display:none;">
    <fieldset class="no-margin">
        <legend class="col6">Do you plan to offer fringe benefits to your employees, such as a work car for private use?</legend>
        <div class="col5">
            <div class="radio-toggle">
                <label class="on label-left" for="fringeBenefitYes"><input id="fringeBenefitYes" type="radio" name="fringeBenefit"><span>Yes</span></label>
                <label class="off label-right" for="fringeBenefitNo"><input id="fringeBenefitNo" type="radio" name="fringeBenefit"><span>No</span></label>
            </div>
        </div>
        <div class="col1 last">
            <a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div id="div-employees-tip" class="registration-tip" style="display: none">
	<p>Based on your answers, you should register for:</p>
	<ul>
		<li id="tip-payg">Pay As You Go (PAYG) Withholding <a href="#" class="cd-btn help"><span>help</span></a></li>
		<li id="tip-fbt">Fringe Benefits Tax (FBT) <a href="#" class="cd-btn help"><span>help</span></a></li>
	</ul>
</div>