<p><strong>Based on your answers,</strong> you should consider applying for the below registrations.</p>
<table class="results-table custom-controls" id="resultTable">
    <caption class="visuallyhidden">Registration results</caption>
    <tr>
        <th style="width: 60%" class="registration-type">Registration</th>
        <th style="width: 35%" class="cost">Cost</th>
        <th style="width: 5%">&nbsp;</th>
    </tr>
    <tr>
        <td class="registration-type"><p><input id="abn" type="checkbox" checked="checked"><label for="abn">Australian Business Number (ABN)</label></p></td>
        <td class="cost">Free</td>
        <td class="help"><a href="#" id="0" class="cd-btn help"><span>help</span></a></td>
    </tr>
</table>
<div id="gstRecommend" style="display:none">
    <p>You can also choose to register for GST.</p>
    <table class="results-table custom-controls">
        <caption class="visuallyhidden">GST Registration</caption>
        <tr>
            <th style="width: 60%" class="registration-type">Registration</th>
            <th style="width: 35%" class="cost">Cost</th>
            <th style="width: 5%">&nbsp;</th>
        </tr>
        <tr>
            <td class="registration-type"><p><input id="ckGstRecommend" type="checkbox"><label for="ckGstRecommend">Goods &amp; Services Tax (GST)</label></p></td>
            <td class="cost">Free</td>
            <td class="help"><a href="#" id="10" class="cd-btn help"><span>help</span></a></td>
        </tr>
        <tr id="lctOptionalRow" style="display:none">
            <td class="registration-type"><p><input id="lctOptional" type="checkbox"><label for="lctOptional">Luxury Car Tax (LCT)</label></p></td>
            <td class="cost">Free</td>
            <td class="help"><a href="#" id="11" class="cd-btn help"><span>help</span></a></td>
        </tr>
        <tr id="wetOptionalRow" style="display:none">
            <td class="registration-type"><p><input id="wetOptional" type="checkbox"><label for="wetOptional">Wine Equalisation Tax (WET)</label></p></td>
            <td class="cost">Free</td>
            <td class="help"><a href="#" id="12" class="cd-btn help"><span>help</span></a></td>
        </tr>
        <tr id="ftcOptionalRow" style="display:none">
            <td class="registration-type"><p><input id="ftcOptional" type="checkbox"><label for="ftcOptional">Fuel Tax Credits (FTC)</label></p></td>
            <td class="cost">Free</td>
            <td class="help"><a href="#" id="13" class="cd-btn help"><span>help</span></a></td>
        </tr>
    </table>
</div>
<h2>What you need to know</h2>
<ul>
    <li><strong>If you’re not sure about the answers you’ve given,</strong> it’s a good idea to chat to your financial advisor or <a href="http://www.ato.gov.au/About-ATO/About-us/Contact-us/" class="external-link" target="_blank">contact the Australian Taxation Office (ATO)</a>, who can take into account your complete situation.</li>
    <li>We’ve covered the basic business and tax registrations. We’ll ask for more information about your business when you apply, which will help us work out if your business should consider other registrations.</li>
    <li>Remember - registering your business name doesn't stop other businesses from using it for their products or services. To stop others from using your business name, you need to <a href="https://www.ipaustralia.gov.au/trade-marks/applying-for-a-trade-mark/how-to-apply-for-a-trade-mark">apply for a trade mark</a>.</p>
</ul>
<h2>Ready to apply?</h2>
<p>Make sure the registrations you want are ticked before you start applying.</p>

