<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../../../business-registration/templates/assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">Important</a></h2>
            <p>You will need to answer all the questions below so we can help you decide.</p>
        </div>
    </div>
</div>

<p>Tell us how you want to run your business and we'll suggest which business structure may suit your needs.</p>

<div class="grid-row grid-row-block clearfix custom-controls">
    <fieldset class="no-margin">
        <legend class="col6">How many owners will your business have?</legend>
        <div class="col5 last">
            <div class="radio-toggle">
                <label class="on label-left" for="radioHowManyOwners1"><input id="radioHowManyOwners1" type="radio" name="radioHowManyOwners"><span>One (just me)</span></label>
                <label class="off label-right" for="radioHowManyOwners2"><input id="radioHowManyOwners2" type="radio" name="radioHowManyOwners"><span>Two or more</span></label>
            </div>
        </div>
        <div class="col1 last">
            <a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </fieldset>
</div><!-- grid-row -->

<div class="grid-row grid-row-block grid-row-last clearfix custom-controls">
    <fieldset class="no-margin">
        <legend class="col6">Will you hold and control an asset for the benefit of others?</legend>
        <div class="col5">
            <div class="radio-toggle">
                <label class="on label-left" for="radioSeparatePersonalAsset1"><input id="radioSeparatePersonalAsset1" type="radio" name="radioSeparatePersonalAsset"><span>Yes</span></label>
                <label class="off label-right" for="radioSeparatePersonalAsset2"><input id="radioSeparatePersonalAsset2" type="radio" name="radioSeparatePersonalAsset"><span>No</span></label>
            </div>
        </div>
        <div class="col1 last">
            <a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </fieldset>
</div>

<div id="div-structure-tip" class="registration-tip" style="display: none">
	<p id="tip-just-me" style="display: none">If you want to own the business on your own, you can choose a sole trader or a company structure, but not a partnership.</p>
	<p id="tip-two-or-more" style="display: none">If your business will have two or more owners, you can choose a partnership or company structure - but not a sole trader.</p>
	<p id="tip-hold-control-asset" style="display: none">If you answered 'Yes' it means you (individual or business) will manage an asset (estate, property or business) that you want to protect on behalf of beneficiaries (people who receive profits from the asset). Trusts are complex to set up and you'll need time and the right skills to do it properly. It's best to see a qualified, licensed professional to help you understand what's involved.</p>
</div>
