<div id="validation" class="validation-container clearfix" style="display: none">
    <div class="grid-row">
        <div class="validation-summary-icon">
            <img src="../../../business-registration/templates/assets/img/ico-alert-red.png" alt="Error">
        </div>
        <div class="validation-message">
            <h2><a id="validationSummaryAnchor" href="">There was a problem</a></h2>
            <p>Please select one of the below options.</p>
        </div>
    </div>
</div>

<fieldset>
    <legend class="larger has-help">Do you need to register your business name?</legend>
   
    <div class="grid-row grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="name1" name="name" type="radio">
                <label for="name1">
                    <span class="push-right">
                        <strong>Yes</strong><br />
                        You need to register your business name if it's different to your own name.<br><br>
                        For example, if your name is Sally Chang, and you want to use the name Accurate Accountants as your business name, you need to register it. 
                    </span>
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">            
			<a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </div><!-- grid-row -->
    <div class="grid-row grid-row-last grid-row-block clearfix custom-controls">
        <div class="col11">
            <p>
                <input id="name2" name="name" type="radio">
                <label for="name2">
                    <span class="push-right">
                        <strong>No</strong><br />
                        You don't need to register your business name if you're using your own name.<br><br>
                        For example, if your name is Joe Aaron Smith, and you want to use it (or a shortened form such as Joe Smith, J Smith, or J. A. Smith) as your business name, you don't need to register it.
                    </span>
                </label>
            </p>
        </div>
        <div class="col1 last padding-top-bottom">
			<a href="#" class="cd-btn help"><span>help</span></a>
        </div>
    </div><!-- grid-row -->
</fieldset>

<div id="div-name-tip" class="registration-tip" style="display: none">
	<p>Registering a business name costs $34 for 1 year, and $79 for 3 years.</p>
	<p>Registering a business name doesn't stop other businesses from using it for their products or services! Find out how you can <a href="http://asic.gov.au/for-business/registering-a-business-name/before-you-start/how-to-protect-your-business-name/" class="external-link" target="_blank">protect your business name</a></p>
</div>